.link-page-container {
    background-color: #f9fafb; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-family: sans-serif;
}

.card-container {
    background: white;
    width: 90%;
    max-width: 800px;
    border-radius: 20px;
    padding: 40px;
    padding-bottom: 60px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 2.2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.action-row {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.url-box {
    background: #f1f3f5;
    padding: 45px 25px;
    border-radius: 12px;
    border: 1px solid #dee2e6;
    color: #2563eb;
    font-size: 1rem;
    word-break: break-all;
    flex: 1;
    max-width: 70%;
    text-align: center;
}

.icon-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.icon-btn {
    background-color: #b2dfdb; 
    border: 2px solid #b2dfdb;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.icon-btn:hover {
    background-color: #80cbc4;
    border-color: #80cbc4;
}

.footer-action-row {
    margin-top: 40px;
    display: flex;
    gap: 560px;
}

.footer-btn {
    background-color: #b2dfdb;
    border: none;
    padding: 12px 35px;
    border-radius: 10px;
    font-weight: bold;
    color: #4b5563;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    font-size: 0.95rem;
    transition: all 0.2s ease;
}

.footer-btn:hover {
    background-color: #80cbc4;
}