.link-page-container {
    background-color: #f3f3f3; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-family: sans-serif;
}

.card-container {
    background: white;
    width: 90%;
    max-width: 800px;
    border-radius: 20px;
    padding: 40px;
    padding-bottom: 60px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.icon-btn {
    background-color: #dee2e6;
    border: none;
    border-radius: 6px;
    padding: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon-btn:hover {
    background-color: #27ae60;
}

.footer-action-row {
    margin-top: 40px;
    display: flex;
    gap: 100px;
}

.footer-btn {
    background-color: #27ae60;
    border: none;
    padding: 12px 35px;
    border-radius: 10px;
    font-weight: bold;
    color: #eeeeee;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.footer-btn:hover {
    background-color: #20c863;
}