/* GLOBAL LAYOUT */
.survey-page-wrapper {
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 880px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.survey-card {
    font-size: 1.1rem;
    line-height: 1.5;
    width: 100%;
    box-sizing: border-box;
}

.results-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 1024px) {
    .results-layout {
        flex-direction: column;
    }
}

/* LEFT SIDE: STUDENT LIST */
.student-list-container {
    flex: 2; /* Takes up more space */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    min-height: 350px;
}

.student-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.student-name {
    font-size: 16px;
    color: #374151;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #f3f4f6;
}

.name-number {
    font-weight: 600;
    color: #6b7280;
    margin-right: 8px;
}

/* RIGHT SIDE: THE GREEN STATS SIDEBAR */
.stats-card-sidebar {
    flex: 1;
    background-color: #90db673b;
    padding: 25px;
    border-radius: 16px;
    color: #065f46; 
    height: fit-content;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.02);
}

.stats-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    font-size: 15px;
}

.stats-row span {
    font-weight: 500;
}

.stats-row strong {
    font-size: 18px;
    font-weight: 700;
}

.student-name {
    margin-bottom: 10px;
}

.decrypt-button {
    background-color:#B2E1CB;
    width: 60%; 
    color: balck;
    border: none;
    border-radius: 6px; 
    padding: 10px; 
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
}

.decrypt-button:hover {
    background-color: #90D5BA;
}


.close-survey-btn {
    width: 100%; 
    padding: 10px; 
    background-color: #BEE0AC; 
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: black;
    border: none; 
    border-radius: 6px; 
    cursor: pointer;
    transition: all 0.2s ease;
}

.close-survey-btn:hover {
    background-color: #7fb9508e;
}

.generate-groups-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #BEE0AC;
    color: black;
    border: none;
    border-radius: 6px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.generate-groups-btn:hover {
    background-color: #7fb9508e;
}

/* FOOTER / BUTTONS */
.button-tray {
    margin-top: 10px;
}